
  /* Navbar styles */
  .navbar {
    background-color: #7bed9f; 
  }
  .navbar-dark .navbar-nav .nav-link {
    color: #0b3c5d; 
  }

  /* Section styles */
  section {
   
   padding-top: 100px;
   padding-bottom: 100px;


  }
  .section-img {

    margin: 0; 
    padding: 0; 
    background color: #0b3c5d; 
    color: #7bed9f; 
    position: 100px;

  }
  .section-blue {
    background-color: #0b3c5d; 
    color: #7bed9f; 
    font-family: Helvetica, serif; 
    
  }
  .section-white {
    background-color: #ffffff; 
    color: #0b3c5d; 
    font-family: Helvetica, serif; 
  }
  .carousel-item img {
    max-height: 800px; 
    margin: auto;
  }
